@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body{

    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;    
}
ul{
    list-style: none;
    }
    a{
        text-decoration: none;
    }

.primary-text {
    color: #f6ab14;
}
   .btn {
    display: inline-block;
    padding: 15px 30px;
    border:none ;
    border-radius:15px ;
   }
    .btn-primary {
        color: #fff;
        border: 1px solid #fff;
    }
   .btn-secondary {
    color: #fff;
    background: #383848;
    margin-top: 2rem;

   }  
   .btn-primary:hover ,
   .btn-secondary:hover {
    background-color: #111111;

   }

    

/* header start*/
header{

    height: 100vh;
    background: url('images/background.jpg') center center/cover no-repeat;
    position: relative;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

}
#navbar img { 

width: 80px;


}
#navbar ul {
    display: flex;
    margin-right: 100px;


}
   
#navbar ul li a{

    padding: 0.5rem 1rem;
    color: #f0f0f2;
    font-weight: 600;
}

#navbar ul li a:hover{
border-bottom: 2px solid #df981e ;

}


header .content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 75vh;

}
header .content h1{
    font-size: 40px;
color: #fafafa;
}
header .content p{
    
    margin: 20px 0 40px;
    color:#f6f7f7
}
header::before{
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    height:90.5%;
    width: 100%;

}
header *{
    z-index: 10;
}
/* header end*/
